<!-- IF U_SITE_HOME --><li class="site-menu"><a href="{U_INDEX}">{L_INDEX}</a></li><!-- ENDIF -->
<!-- EVENT overall_header_navigation_prepend -->
<li <!-- IF not S_USER_LOGGED_IN -->data-skip-responsive="true"<!-- ELSE -->data-last-responsive="true"<!-- ENDIF --> class="site-menu"><a href="{U_FAQ}" rel="help" title="{L_FAQ_EXPLAIN}">{L_FAQ}</a></li>
<li class="site-menu">
	<a href="#" title="Example">Link's importantes</a>
	<ul>
		<li><a href="https://sp-roleplay.com.br">User Control Panel</a></li>
		<li><a href="https://sp-gov.net">Prefeitura de São Paulo</a></li>
		<li><a href="https://pm.sp-gov.net">Polícia Militar</a></li>
		<li><a href="https://pc.sp-gov.net">Polícia Civil</a></li>
		<li><a href="https://gb.sp-gov.net">Corpo de Bombeiros</a></li>
	</ul>
</li>
<!-- EVENT overall_header_navigation_append -->
